.chat {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
}

.logout {
  margin: 20px;
  padding: 10px 20px;
  display: block;
  margin: 20px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: whitesmoke;
    color: black;
  }
}

.users {
  background-color: rgb(27, 76, 105);
  color: black;
  overflow-y: auto;

  h1 {
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 40px;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      background-color: rgb(216, 216, 216);
      width: 80%;
      margin: 20px auto;
      font-size: 17px;
    }
  }
}

.message {
  margin: 30px;
  h3 {
    margin: 10px;
    font-size: 25px;

    span {
      color: rgb(172, 167, 167);
      font-size: 23px;
    }
  }

  p {
    margin: 10px;
  }
}

.messages {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 90px;

  &FromUsers {
    background-color: white;
    color: black;
    overflow-y: auto;
  }

  &Input {
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 100px 200px;
    grid-gap: 20px;
    background-color: rgb(216, 216, 216);

    input {
      display: block;
      font-size: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
    }

    button {
      padding: 10px;
      border: none;
      background-color: rgb(27, 76, 105);
      font-size: 1.2rem;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      box-shadow: 0 2px 5px black;
      cursor: pointer;

      &:hover {
        background-color: rgb(0, 203, 14);
      }
    }
  }
}

.mobile-header {
  display: none;
}

@media screen and (max-width: 1000px) {
  .chat {
    grid-template-columns: 1fr;
  }
  .messages {
    height: 90vh;
    padding-top: 100px;
  }

  .users {
    display: none !important;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 80px;
    width: 100%;
    color: white;

    h2 {
      margin: 0 20px;
      text-align: center;
    }
  }
  .messagesInput {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
    padding-left: 0;

    input,
    button {
      display: block;
    }

    input {
      width: 85%;
    }
  }

  .hamburger {
    margin: 20px;
    font-size: 30px;
    cursor: pointer;
  }

  .activeUsers {
    position: fixed;
    max-width: 600px;
    min-width: 300px;
    height: 100vh;
    display: block !important;
    z-index: 100000;
  }

  .location-btn {
    display: none !important;
  }
}
